body {
  font-family: sans-serif;
}

.container {
  width: 300px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

input[type="submit"] {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.account-options {
  text-align: center;
}

.account-options ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.account-options ul li {
  display: inline-block;
  padding: 10px;
}

.account-options ul li a {
  color: #000;
  text-decoration: none;
}

.account-options ul li a:hover {
  color: #fff;
  background-color: #000;
}
